{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="user-details">

            <div class="input-box">
                <span class="details">UFR</span>
                <input type="text" list="ufr-list" name="ufr" id="ufr-selector">
                <input type="hidden" name="ufr" id="ufr-id">
                <datalist id="ufr-list">
                    {% for ufr in ufrs %}
                        <option value="{{ ufr.nom }}" data-id="{{ ufr.id }}">{{ ufr.nom }}</option>
                    {% endfor %}
                </datalist>
            </div>

        </div>

        <br>
        <br>

        
        <div class="user-details">
            <div class="input-box">
                <span class "details">Nom de la filière</span>
                <input type="text" name="nom">
                <strong class="error">{{ erreur1 }}</strong>
            </div>
        </div>
        <br>
        <br>
        <div class="button">
            <input type="submit" value="Enregistrer" id="sub" name="Update Password">
        </div>
    </form>

    <script>
        function addSearchToSelect(selectElement, searchInput, ufrIdInput) {
            // Ajoutez un gestionnaire d'événement pour l'entrée de texte dans le champ de recherche
            searchInput.addEventListener('input', function() {
                const searchValue = this.value.toLowerCase();

                // Réinitialisez le champ caché à vide
                ufrIdInput.value = '';

                // Parcourez les options du datalist et masquez celles qui ne correspondent pas à la recherche
                for (const option of selectElement.querySelectorAll('option')) {
                    const optionText = option.value.toLowerCase();
                    const display = optionText.includes(searchValue) ? 'block' : 'none';
                    option.style.display = display;

                    // Si l'option est affichée, mettez à jour le champ caché avec l'ID correspondant
                    if (display === 'block') {
                        const optionId = option.getAttribute('data-id');
                        ufrIdInput.value = optionId;
                    }
                }
            });
        }

        // Attendez que le DOM soit chargé
        document.addEventListener('DOMContentLoaded', function() {
            // Sélectionnez les éléments par leur ID
            const selectElement = document.getElementById('ufr-list');
            const searchInput = document.getElementById('ufr-selector');
            const ufrIdInput = document.getElementById('ufr-id');

            // Ajoutez la fonctionnalité de recherche au champ de texte
            addSearchToSelect(selectElement, searchInput, ufrIdInput);
        });
    </script>
</div>
{% endblock %}
